@font-face {
  font-family: "Metamorphous";
  src: url("../resources/Metamorphous-Regular.ttf");
}

main {
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

main > p {
  margin: 1em;
}

h2 {
  font-family: Metamorphous;
  color: var(--text-color);
  font-size: 3em;
  opacity: 0.8;
}

body {
  background: var(--cinza-azulado) url("../resources/texture-1.png");
  color: #f8f0d9;
  gap: 2rem;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1.5rem;
  justify-content: center;
  align-items: start;
  max-width: 900px;
  margin: 0 auto;
  padding: 1rem 1rem;
  margin-bottom: -3em;
}

.month-card {
  background: #413f3c;
  border: 6px solid var(--cinza-claro);
  border-radius: 20px;
  box-shadow: 0 0 15px #7a7a7a54;
  padding: 1rem;
  width: 250px;
  min-height: 250px;
  position: relative;
  background-image: url("../resources/texture-2.png");
}

.month-title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
  border-bottom: 2px solid var(--cinza-claro);
  padding-bottom: 0.5rem;
}

.month-container h6 {
  font-size: 1em;
}

.month-container p {
  font-size: 0.9em;
  margin-top: 0.5em;
}

.grama {
  width: 100%;
  height: 100px;
  background-image: url("../resources/footer.png");
  z-index: 20;
  bottom: 0;
}

.container-story {
  width: 100%;
  background: #000;
}

.container-story h3 {
  font-size: 3em;
  opacity: 0.9;
}

.container-story p {
  margin-bottom: 1em;
}

.container-story span {
  width: 70%;
  display: flex;
  margin: 0 auto;
}

.scroll-nav {
  position: sticky;
  top: 0;
  color: #fff;
  padding: 2em;
  margin-top: 2em;
  display: flex;
  justify-content: center;
  gap: 2em;
  z-index: 10000;
  user-select: none;
  background: #000;
  box-shadow: 0px -5px 20px 20px #000, -10px 5px 20px 20px #000;
}

.scroll-nav a {
  color: var(--text-color);
  transition: all 1s;
}

#crepusculo {
  margin: 2em;
}

.mascara-1 {
  width: 100%;
  max-width: 800px;
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mascara-1 img {
  width: 100%;
  object-fit: cover; /* garante que a imagem preencha o espaço da máscara sem distorcer */

  -webkit-mask-image: url("../resources/mask-4.png");
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;

  mask-image: url("../resources/mask-4.png");
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;

  display: block;
}

#primordiais {
  margin: 2em;
  position: relative;
  margin-bottom: 5em;
}

#primordiais span,
#deuses span,
#dragoes span,
#sombras span,
#herois span {
  width: 35%;
}

.mascara-2 {
  position: absolute;
  right: 0;
  top: -20%;
  transform: translateX(30%);
}

#primordiais .mascara-2 img {
  width: 70%;
  height: auto;

  -webkit-mask-image: url("../resources/mask-3.png");
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;

  mask-image: url("../resources/mask-3.png");
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
}

#deuses {
  padding: 1rem;
  z-index: 10;
}

.mascara-3 {
  width: 100%;
  max-width: 400px;
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -4em;
  margin-bottom: -2em;
}

#deuses .mascara-3 img {
  width: 70%;
  height: auto;

  -webkit-mask-image: url("../resources/mask-2.png");
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;

  mask-image: url("../resources/mask-2.png");
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
}

#dragoes {
  margin: 2em;
  position: relative;
  height: 35vh;
}

#dragoes span {
  width: 50%;
}

.mascara-4 {
  position: absolute;
  left: 0;
  top: -20%;
  transform: translateX(-40%); /* aqui interfere na distancia (2)*/
}

#dragoes .mascara-4 img {
  width: 100%;
  height: auto;

  -webkit-mask-image: url("../resources/mask-3.png");
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;

  mask-image: url("../resources/mask-3.png");
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  transform: scaleX(-1);
}

#sombras {
  margin: 2em;
  height: 40vh;
  position: relative;
}

.mascara-5 {
  position: absolute;
  right: 0;
  top: 0%;
  transform: translateX(40%);
}

#sombras .mascara-5 img {
  width: 100%;
  height: auto;

  filter: brightness(70%);

  -webkit-mask-image: url("../resources/mask-3.png");
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;

  mask-image: url("../resources/mask-3.png");
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
}

#herois {
  margin: 2em;
  height: 60vh;
}

/* responsividade zzzzzz */
@media (max-width: 480px) {
  .calendar {
    max-width: 400px;
  }
}
