@font-face {
  font-family: "Metamorphous";
  src: url("../resources/Metamorphous-Regular.ttf");
}

main {
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

main > p {
  margin: 1em;
}

h2 {
  font-family: Metamorphous;
  color: var(--text-color);
  font-size: 3em;
  opacity: 0.8;
}

body {
  background: var(--cinza-azulado)
    url("../resources/texture-1.png");
  color: #f8f0d9;
  gap: 2rem;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1.5rem;
  justify-content: center;
  align-items: start;
  max-width: 900px;
  margin: 0 auto;
  padding: 1rem 1rem;
  margin-bottom: -3em;
}

.month-card {
  background: #413f3c;
  border: 6px solid var(--cinza-claro);
  border-radius: 20px;
  box-shadow: 0 0 15px #7a7a7a54;
  padding: 1rem;
  width: 250px;
  min-height: 250px;
  position: relative;
  background-image: url("../resources/texture-2.png");
}

.month-title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
  border-bottom: 2px solid var(--cinza-claro);
  padding-bottom: 0.5rem;
}

.month-container h6 {
  font-size: 1em;
}

.month-container p {
  font-size: 0.9em;
  margin-top: 0.5em;
}

.grama {
  width: 100%;
  height: 100px;
  background-image: url("../resources/footer.png");
  z-index: 20;
  bottom: 0;
}

.container-story {
  height: 20vh;
  width: 100%;
  background: #000;
}

/* responsividade zzzzzz */
@media (max-width: 480px) {
  .calendar {
    max-width: 400px;
  }
}
